<!-- Copyright © 2014 Elastic Path Software Inc. All rights reserved. -->

<div id="ExtReceiptTemplateContainer">

	<!-- Renders a purchase purchaseinfo wrapper around purchase information. -->
	<!-- can render purchase success messages, and provide redirect link -->
	<script id="ExtPurchaseReceiptTemplate" type="text/template">
		<h2><%= E.getI18nLabel('purchaseInfo.purchaseReceipt.pageTitle') %></h2>
		<div data-region="purchaseInformationRegion">
			<div class="activity-indicator-container">
				<img class="activity-indicator" src="images/activity-indicator-strobe.gif"/>
			</div>
		</div>
	</script>

	<!-- Renders a purchase details wrapper around purchase information, which contains link back to profile page-->
	<script id="ExtPurchaseDetailsTemplate" type="text/template">
		<h2><%= E.getI18nLabel('purchaseInfo.purchaseDetails.pageTitle') %></h2>
		<div data-region="purchaseInformationRegion">
			<div class="activity-indicator-container">
				<img class="activity-indicator" src="images/activity-indicator-strobe.gif"/>
			</div>
		</div>
		<p><a href="<%= E.getLink('profile') %>"><- <%= E.getI18nLabel('purchaseInfo.purchaseDetails.backToProfile') %></a></p>
	</script>
</div>
